<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetVet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>

<body>
    <header>
        <div class="logo">
            <img src="..\images\PetVet-logo.png" alt="PetVet Logo">
            <a href="@Url.Action("Index", "Home")">
                <h1 class="display-2">PetVet</h1>
            </a>
        </div>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                &equiv;
            </label>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Serviços","Home")">Serviços</a></li>
                <li><a href="@Url.Action("Contato","Home")">Contato</a></li>
            </ul>
        </nav>
    </header>


    <main role="main">
        @RenderBody()
    </main>




    <footer>
        <p>PetVet &copy; Todos os direitos reservados.</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
